{% extends 'index.html' %}

{% load static %}

{% block head_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
{% endblock head_css %}

{% block content %}
<div class="abt">
    <h2>ABOUT</h2>
    <h4 style="font-size:30px">GOVT. MODEL HIGHER SECONDARY SCHOOL</h4>
    <p>This school is affiliated to the Kerala State board. Here's a listing other schools in the neighborhood and the
        district, ordered by their academic performance in the board exams of Kerala Board Class 12 HSE (Higher
        Secondary Examination)</p>
</div>


{% endblock content %}