{% extends 'index.html' %}

{% load static %}

{% block head_css %}
    <link rel="stylesheet" href="{% static 'css/studentpage.css' %}" type="text/css">
{% endblock head_css %}

{% block content %}

<div class="abt" style=height:510px>
    <h2>Leave Application Form</h2>
    <form method="POST">
        {% csrf_token %}
        <table class="table table-borderless" cellpadding='20px'>
            <div class="form-group row">
                <tr>
                    <td>
                        <label for="" class="col-sm col-form-label text-light">To Address</label>
                    </td>
                    <td>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="" placeholder="To Address" name="toad">
                          </div>
                    </td>

                </tr>
                <tr>
                    <td>
                        <label for="" class="col-sm col-form-label text-light">Date of Leave</label>
                    </td>
                    <td>
                        <div class="col-sm-9">
                            <input type="date" class="form-control" id="" placeholder="Date of Leave" name="date">
                          </div>
                    </td>

                </tr>
                
                
                <tr>
                    <td>
                        <label for="" class="col-sm col-form-label text-light">Reason of Leave</label>
                    </td>
                    <td>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="" placeholder="Reason of Leave" name="reason" id="" cols="30" rows="3">

                            </textarea>
        
                        </div>
                    </td>

                </tr>

                <tr>
                    <td>
                        <label for="" class="col-sm col-form-label text-light">Student Name</label>
                    </td>
                    <td>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="" placeholder="Student Name" name="name">
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>
                        <label for="" class=" col-form-label text-light">Department</label>
                    </td>
                    <td>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="" placeholder="Department" name="dept">
                          </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </td>
                </tr>
              </div>
            </form>

        </table>
    

    </div>
</div>



{% endblock content %}